@import 'nib'

body
  background-color #fcfcfc

// Imports

// Custom navigation bar style
@import 'imports/bootstrap-navbar'

body > .container
  padding-top 15px

body .container.dark
  width 90%
  background #222
  color #887
  margin-top 30px
  padding 10px 5% 20px 5%

footer
  width 100%
  margin-top 30px
  height 150px
  background #222
  color #887
  width 90%
  padding 10px 5% 20px 5%
