.navbar-inverse.navbar-fixed-top,
.navbar-inverse.navbar-static-top
  .navbar-inner
    border 0px solid #151515
    border-bottom-width 3px
    .brand
      padding-top 10px
      padding-bottom 10px
      .logo
        background transparent url('/img/CIT-Logo-Small-Text.png') no-repeat left center
        display block
        height 40px
        width 40px
        text-indent -999999px
    .brand,
    .nav > li > a
      border 0px solid rgba(11, 178, 253, 0)
      border-bottom-width 3px
      margin-bottom -3px
      text-transform uppercase
    .nav .active > a,
    .brand.active
      border-color rgba(11, 178, 253, 0.9)
      &:hover, &:focus
        border-color rgba(11, 178, 253, 1)