<!DOCTYPE html>

<html lang="es">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="author" content="Centro de Innovación Tecnológica" />
        <title>{{ page.title }}</title>
        <meta name="description" content="Landing Page de Centro de Innovanción Tecnológica">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" href="css/bootstrap.css">
    </head>
    <body>
      <header>
        <p>This is CIT!!!</p>
      </header>
      <div class="container">
        <div class="row">
          <div calss="span12">
              {{ content }}
          </div>
        </div>
      </div>
      <footer>
        <p>Copyright © 2011 Centro de Innovación Tecnológica</p>
      </footer>
    </body>
</html>